<div class="container home-container">
  <div class="jumbotron text-center">
    <div class="jumbotron-custom">
      <h1 class="display-4">LET'S BLOG</h1>
      <p class="lead">When you have an idea and need to share it.</p>
      <hr class="my-4">
      <br/>
      <br/>
      <br/>
      <%= link_to  "Sign Up!", signup_path , class:"btn btn-success btn-lg m-5" %>
    </div>
  </div>
</div>